@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");

body {
  background: #f1f1f1;
}

.movieTitle {
  font-style: bold;
}

.movie {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 10px;
  background: tan;
  height: 50px;
  border: 1px solid black;
}

.info {
  height: 100px;
}

.movies {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-content: space-between;      
}

.button {
  background: green;
  color: white;
  border: 0px;
  border-radius: 20%;
}

.button:active {
  background: yellow;
  color: black;
}

.green {
  background: green;
  color: white;
}

.red {
  background: red;
  color: black;
}

.neutral {
  background: white
  color: black;
}

.tabs {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.hidden {
  display: none;
}

.active {
  display: block;
}